body {
  font-family: "Open Sans", sans-serif;
  background: url("./images/home-bg.jpg") no-repeat center center;
  background-size: cover;
  min-height: 150vh;
  position: relative;
  padding-top: 12em;
}
